<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="2015 CfA Fellows West Sacramento Team" content="">
    <title>EatLocal</title>

    <link rel="stylesheet" href="assets/bootstrap-3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/leaflet-0.7.2/leaflet.css">
    <link rel="stylesheet" href="assets/leaflet-sidebar/L.Control.Sidebar.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="apple-touch-icon" href="assets/img/favicon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="assets/img/favicon-196.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="EatLocal" ng-controller="MainCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="sidebar.toggle(); return false;"><i class="fa fa-search"></i></a>
        <a class="navbar-brand" href="#">EatLocal</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-question-circle" style="color: white"></i>&nbsp;&nbsp;About</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>

    <div id="sidebar">
      <div class="sidebar-wrapper">
            <h3>hola hola</h3>
            <input type="text" class="form-control search" placeholder="Filter" ng-model="search" />
            <ul>
                <li ng-repeat="color in colors | filter:search">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="http://placehold.it/100x100" alt="" />
                    </div>
                    <div class="col-md-9">
                      <a href="#" class="title">{{color}}</a><br>
                      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span><br>
                      <span class="address">155 9th Street, San Francisco, CA 94104</span>
                      <span class="phone">555-555-1234</span>
                    </div>
                  </div>


                </li>
            </ul>

        </div>
    </div>

    <div id="map"></div>

    <div id="loading">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" style="width: 100%"></div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">About Eat Local</h4>
          </div>
          <div class="modal-body">
            <p>
              The Sacramento region has some of the most productive farmland in the world, with farmers and ranchers producing 3.4 million tons of food annually. However, only about 2 percent of the food consumed in the region comes directly from local farmers and ranchers!
            </p>
            <p>
              Eat Local maps restaurants, grocery stores, and farmers markets using or selling locally grown food so that citizens who want to support locally-grown food can easily find and purchase it.
            </p>
            <p>
              Many fruits and vegetables reach their nutritional peak around the same time they are harvested. Not only is eating locally grown, seasonal food an excellent way to boost nutrition, it’s cheaper for farmers and helps the community economy, too.
            </p>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->







    <script type="text/javascript" src="assets/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="assets/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="assets/leaflet-sidebar/L.Control.Sidebar.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="app/eatlocal.js"></script>
  </body>
</html>
